@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600');

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  box-sizing: border-box;
  font-family: 'Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.image-bg {
  display: flex;
  background-image: url('./assets/sf2.jpg');
  background-color: #3B3CE8;
  background-blend-mode: multiply;
  background-size: cover !important;
  background-position: 50% 50% !important;
  height: 100vH;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vH;
  z-index: 2;
}
.logo {
  max-width: 175px;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.text {
  max-width: 220px;
}
.drop-shadow {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}
.logo:hover {
  -webkit-filter: drop-shadow(0px 0px 12px rgba(0, 231, 255, 0.8));
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: .25s all;
}
h1, h2, h3 {
  margin: 0;
}
h1 {
  font-weight: 400;
  font-size: 38px;
  letter-spacing: 1.5px;
  margin-top: 30px;
  margin-bottom: 10px;
}
h2 {
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 4px;
}
h3 {
  font-weight: 200;
  font-size: 28px;
}
.content {
  flex: .75;
  z-index: 3;
  text-align: center;
}
.details {
  margin-top: 40px;
}
.image {
  flex: .5;
}
/* Coin animation - floating effect */
.jump {
  animation: jump 2.5s infinite ease;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}