@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,700');

body {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ffffff;
  box-sizing: border-box;
}
h1 {
  font-size: 32px;
  font-weight: 200;
  line-height: 40px;
  font-family: 'Poppins','Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.flex {
  display: flex;
  background-image: url('./assets/sf.jpg');
  background-size: cover;
  background-position: center, center;
  height: auto;
  min-height: 100vH;
  align-items: center;
  justify-content: center;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100vH;
  z-index: 2;
  background: #000000;
  opacity: .6;
}
.content {
  flex: .5;
  z-index: 3;
  text-align: center;
}